.xyflow-react-kie-diagram--node-containerNode-interactionRect {
  pointer-events: stroke !important;
  opacity: 0;
  /* ⬇ Uncomment for debugging purposes:*/
  /* stroke: purple;
    opacity: 0.2; */
}
.xyflow-react-kie-diagram--node-containerNode-visibleRect {
  pointer-events: none;
}

/* (begin) containerNodes */
/* CONTAINER NODES HAVE A SPECIFIC SELECTION MECHANISM TO ALLOW EDITING EDGES INSIDE THEM */
.react-flow__node.xyflow-react-kie-diagram--containerNode--inside {
  pointer-events: none !important;
  background: transparent;
  box-shadow: none !important;
}
.react-flow__node.xyflow-react-kie-diagram--containerNode--inside:not(.selected) .xyflow-react-kie-diagram--node-shape {
  filter: none !important;
}
.react-flow__node.xyflow-react-kie-diagram--containerNode--inside
  .xyflow-react-kie-diagram--editable-node-name-input
  span,
.react-flow__node.xyflow-react-kie-diagram--containerNode--inside .xyflow-react-kie-diagram--info-node-panel,
.react-flow__node.xyflow-react-kie-diagram--containerNode--inside .react-flow__resize-control div {
  pointer-events: all !important;
}

.react-flow__node.xyflow-react-kie-diagram--containerNode--inside:not(.selected):hover
  .xyflow-react-kie-diagram--node-shape {
  filter: drop-shadow(2px 2px 3px #006ba47b) !important;
}
.react-flow__node.xyflow-react-kie-diagram--containerNode--inside.selected:hover .xyflow-react-kie-diagram--node-shape {
  filter: drop-shadow(2px 2px 3px #004e77d6) !important;
}

/* (end) containerNodes */
